<div class="card shadow-sm">
  <div class="row">
    <div class="col-md-4 d-flex" style="justify-content: center;">
      <img class="img-responsive img-fluid center-block" src="{{visitUser.image}}"
        style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;"
        onerror="this.onerror=null;this.src='/image/no-headshot.png';">
    </div>
    <div class="col-6 offset-3 col-md-8 offset-md-0 my-3">
      <h3>{{visitUser.name}}</h3>
      <p>{{visitUser.email}}</p>
      <p><strong>{{visitUser.Comments.length}}</strong> 已評論餐廳</p>
      <p><strong>{{visitUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</p>
      <p><strong>{{visitUser.Followings.length}}</strong> Followings</p>
      <p><strong>{{visitUser.Followers.length}}</strong> Followers</p>
      {{#ifCond user.id visitUser.id }}
      <a href="/users/{{visitUser.id}}/edit">
        <button type="button" class="btn btn-primary my-2">Edit</button>
      </a>
      {{else}}
      {{#if visitUser.isFollowed }}
      <form action="/following/{{visitUser.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger">取消追蹤</button>
      </form>
      {{else}}
      <form action="/following/{{visitUser.id}}" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-primary">追蹤</button>
      </form>
      {{/if}}
      {{/ifCond}}
    </div>
  </div>
</div>

<div class="d-flex">
  <div class="col-md-4 pe-3">
    <div class="card shadow-sm mt-3 ">
      <div class="card-header">
        <strong>{{visitUser.Followings.length}}</strong> Followings（我的追蹤）
      </div>
      <div class="row">
        <ul class="card-body">
          {{#each visitUser.Followings}}
          <a class="text-decoration-none" href="/users/{{this.id}}">
            <img class="img-responsive center-block my-1" src="{{this.image}}"
              style="max-width: 50px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;"
              onerror="this.onerror=null;this.src='/image/no-headshot.png';">
          </a>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="card shadow-sm mt-3">
      <div class="card-header">
        <strong>{{visitUser.Followers.length}}</strong> Followers（我的粉絲）
      </div>
      <div class="row">
        <ul class="card-body">
          {{#each visitUser.Followers}}
          <a class="text-decoration-none" href="/users/{{this.id}}">
            <img class="img-responsive center-block my-1" src="{{this.image}}"
              style="max-width: 50px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;"
              onerror="this.onerror=null;this.src='/image/no-headshot.png';">
          </a>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card shadow-sm mt-3">
      <div class="card-header">
        <strong>{{visitUser.Comments.length}}</strong> 已評論餐廳
      </div>
      <div class="row">
        <ul class="card-body">
          {{#each visitUser.Comments}}
          <a class="text-decoration-none" href="/restaurants/{{this.id}}">
            <img class="img-responsive center-block my-1" src="{{this.image}}"
              style="max-width: 50px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;"
              onerror="this.onerror=null;this.src='/image/no-image.png';">
          </a>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="card shadow-sm mt-3">
      <div class="card-header">
        <strong>{{visitUser.FavoritedRestaurants.length}}</strong>收藏的餐廳
      </div>
      <div class="row">
        <ul class="card-body">
          {{#each visitUser.FavoritedRestaurants}}
          <a class="text-decoration-none" href="/restaurants/{{this.restaurantId}}">
            <img class="img-responsive center-block my-1" src="{{this.image}}"
              style="max-width: 50px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;"
              onerror="this.onerror=null;this.src='/image/no-image.png';">
          </a>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>